
<div  class="header">

        <mat-button-toggle (click)="toggleHeader()" class="toggle">
            <mat-icon >format_align_left</mat-icon>
          </mat-button-toggle>
        <div *ngIf="showHeader " class="header-title" >
        <div  class="logo ">
            <img  src="../../../../../../assets/imag/home/header/logo.png">
          </div>
          <a  routerLink="/home" class=" m-10" routerLinkActive="active">
            الرئيسية
           </a>
           <a  routerLink="" class=" m-10">
            ومن نحن 
           </a>
           <a [routerLink]="['/']" class=" m-10">
            منتاجتنا  
           </a> 
           <a [routerLink]="['/']" class=" m-10">
            المعرض  
           </a> 
           <a [routerLink]="['/']" class=" m-10">
            الأخبار 
           </a> 
           <a [routerLink]="['/']" class=" m-10">
            الشركاء 
             </a>  
            <a routerLink="/contact-us" class=" m-10" routerLinkActive="active">
            تواصل معنا
            </a>
            <a routerLink="" class=" m-10" >
               الدعم الفني 
              </a>

            <button class="show-price ">  طلب عرض  سعر </button>
             <button class="translate m-10"> En</button>
          </div> 
             
   
</div>

