

<div  class="products">
    <div class="one-product">
        <div class="title">
            <img src="../../../assets/imag/home/products/products2-bg.png"/>
            <div class="logo">
                <div  class="image-logo">
                    <img src="../../../assets/imag/home/products/AFAAQ PRO.png"/>

                </div>
               
                <div class="title-logo">
                    <p class="title">
                        منتجات آفاق المحترفة
                    </p>
                </div>
                <div  class="detalis">
                    <button>تفاصيل اكثر من هنا</button>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="../../../assets/imag/home/products/product.png"/>
        </div>
    </div>
    <div class="two-product">
       <div class="contain-product">
         
          <div class="contain-cirulal">
            <div class="circle-one">
                <span>
                لطلب عرض سعر
                <br />
                    اضغط هنا
                </span>
            </div>
            <div class="circle-two">
                <span>
                  للدعم الفني  
                    <br />
                        اضغط هنا
                    </span>

            </div>

          </div>
          <div  class="contain-image">
            
            <img src="../../../assets/imag/home/products/smart-access-solutions.png"/>
          </div>

       </div>
    </div>
</div>

