<div class="about">
    <div class="images">
        <div class="image ">
        
        <img   src="../../../assets/imag/home/about-us/SwitchBot-Smart-Lock.png"/>
        <div  class="img-center">
          
            <img  src="../../../assets/imag/home/about-us/Ellipse 13@3x.png"/>
        </div>
        <div  class="img-icon">
           
            <img  src="../../../assets/imag/home/about-us/play_arrow_black_24d.png"/>

        </div>
        <div class="overlay">

        </div>
      </div>

    </div>
    <div  class="choose-it">
            <div class="about-background">
                <img  src="../../../assets/imag/home/about-us/2b2a28f9-59fd-44d5-96d2-21762fa87e8c.jpg"/>
                <div  class="about-choose">
                    <div class="about-important">
                         <p> لماذا يجب أن تختارنا</p>   
                    </div>
                    <div class="about-content">
                        <p>
                            شركة سعودية رائدة في تطوير تقنيات الضيافة المتخصصة في تقنيات الدخول الذكي، بالإضافة إلى العديد من الحلول والتطبيقات المخصصة المتخصصة الضيافة ومجموعة متنوعة من قطاعات الصناعة المختلفة
                        </p>
                    </div>
                    <div class="about-content">
                        <p>
                           
آفاق هي البائع والمورد المفضل لمعظم المجموعات والسلاسل الفندقية المحلية والعالمية. تتوافق قوتنا العاملة مع تركيزنا المكثف على تقديم الحلول التقنية المناسبة لتلبية احتياجات عملائنا الكرام. نحن نركز على تقديم حلول مخصصة ومتوافقة في المعايير والجودة مع المتطلبات التنظيمية الخاصة 
                        </p>
                    </div>
                    <div class="about-apperance">
                        <p> ماذا تقدم آفاق</p>   
                   </div>
                   <div class="about-content apperance">
                    <p>
                        حلول تكنولوجيه لكل احتياجاتك

                    </p>
                </div>
                   
                </div>
                
            </div>

       
    </div>

</div>