.partener{
    margin-top: 10px;
    .header{
        display: flex;
        justify-content: center;

        h2{
            font-size: 31px;
            font-weight: 700;
            line-height: .89;
            font-family: ae_AlMothnna!important;
            margin-right: 10px;
            
        }
        img{
             object-fit: contain;
           
        }
    }
    .contain-partener{
        direction: ltr;
        
    }
    
}