
<footer  class="footer">
    
   <div  class="all-data">
    <div class="logo">
        <img  src="../../../../../../assets/imag/home/header/logo.png">
    </div>
    <div class="breif-about">
        <p> شركة سعودية رائدة في تطوير تقنيات الضيافة المتخصصة في تقنيات الدخول الذكي، بالإضافة إلى العديد من الحلول والتطبيقات المخصصة المتخصصة الضيافة ومجموعة متنوعة من قطاعات الصناعة المختلفة </p>
        <a href="../../../../assets/imag/home/footor/brochure.pdf" download="brochure">
          <small>   لتحميل البرشور  من هنا </small>
          <br>
          <span class="material-icons"> download </span>
        </a>
    </div>
   
    <div class="fast-links">
        <h4>   روابط سريعه </h4>
        <div class="links">
            <div>
                <a routerLink="/home" >
                    الرئيسية
                </a>
            </div>
            <div>
                <a [routerLink]="['/']" class=" m-10">
                    ومن نحن 
                   </a>
            </div>
            <div>
                <a [routerLink]="['/']" class=" m-10">
                    منتاجتنا  
                   </a> 
            </div>
            <div>
                <a [routerLink]="['/']" class=" m-10">
                    المعرض  
                   </a> 
            </div>
            <div>
                <a [routerLink]="['/']" class=" m-10">
                    الأخبار 
                </a> 
            </div>
            <div>
                <a [routerLink]="['/']" class=" m-10">
                    الشركاء 
                     </a>  
            </div>
            <div>
                <a  routerLink="/contact-us" class=" m-10">
                    تواصل معنا
                    </a>
            </div>
          
        </div>
    </div>
    <div class="media-links">
       <h4>  روابط التواصل </h4>
       <div class="media">
        <div>
            <a href="https://twitter.com/Afaaqpro2030">
                <img  src="../../../../assets/imag/home/contac-us/twitter.png"/>
            </a>
          
        </div>
        <div>
            <a href="https://www.instagram.com/afaaqpro2030/">
                <img  src="../../../../assets/imag/home/contac-us/instagram.png"/>
            </a>

           
        </div>
        <div>
            <a href="https://api.whatsapp.com/send?phone=+966509911534">
                <img  src="../../../../assets/imag/home/contac-us/whatsapp.png"/>
            </a>
          
        </div>
        <div>
            <a href="https://www.linkedin.com/company/afaaqpro">
                <img  src="../../../../assets/imag/home/contac-us/linkedin.png"/>

            </a>
         
        </div>
       
       </div>
        
    </div>
   </div>
    <div  class="dualt">
        <small> جميع الحقوق © محفوظة لآفاق برو , تصميم وتطوير Softzone</small>

    </div>
   


</footer>