<div  class="contact-us">
    <div  class="header"> 
        <img  src="../../../assets/imag/home/products/logo-title.png"/>
        <h2>   اتصل بنا </h2>
    </div>
    <div   class="container-contact">
        <div  class="information-it">
       
        </div> 
        <div  class="enter-data">
            <div  class="form">
               <form>
                <div  class="names">
                    <div>
                        <label>  الأسم الأول</label>
                        <br>
                        <input type="text"   placeholder=" الأسم الأول*"/>
                    </div>
                    <div>
                        <label>  الأسم الأول</label>
                        <br>
                        <input type="text"   placeholder=" الأسم الأخير*"/>
                    </div>

                </div>
                <div>
                    <label>    رقم التليفون</label>
                    <br>
                    <input type="text"   placeholder="  رقم التليفون*"/>
                </div>
                <div>
                    <label>  البريد الألكنروني </label>
                    <br>
                    <input type="email"   placeholder="  البريد الألكتروني *"/>
                </div>
                <div>
                    <label>    رسالتك </label>
                    <br>
                    <textarea>

                    </textarea>
                </div>
               

                <div class="liseneces">
            
                   
                   <div class="check-box">
                    <mat-checkbox class="custom-checkbox">  </mat-checkbox>
                            <span> Iam not a robot</span>
                          
                 </div>
                        
                 <div  class="image">
                    <div class="background-image"> 
                        <img   src="../../../../assets/imag/home/contac-us/logo_48.png"/>
                    </div>
                   
                    <div class="links">
                        <div class="title"> reCAPTCHA </div>
                        <div class="link" >
                            <a href="https://www.google.com/intl/ar/policies/terms/" target="_blank"> البنود </a>
                            <span> - </span>
                            <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank"> الخصوصية </a>
                  
                        </div>
                       
                    </div>
                </div>

                </div>
            
                <div  class="form-button">
                    <button> 
                        ارسال 
                    </button>

                </div>

              
               </form>
            </div>

        </div>
        
    </div>

</div>
