<div  class="contact-us">
    <div  class="header"> 
        <img  src="../../../assets/imag/home/products/logo-title.png"/>
        <h2>   اتصل بنا </h2>
    </div>
    <div   class="container-contact">
        <div  class="information-it">
            <div   class="data">
                <h3>  الموقع الالكترونى </h3>
                <div>
                    <a   href="https://afaaqpro.com"> https://afaaqpro.com</a>
                </div>
                <h3>   مواعيد العمل </h3>
                <div>
                    <p>
                        الأحد _ الخميس من 9 صباحا الى 6 مساء
                    </p>
                    
                </div>
                <h3>   رقم الجوال </h3>
                <div>
                    <a href="tel:+966 125306000">  966 125306000+ </a>
                    
                </div>
                <h3>    البريد الالكترونى </h3>
                <div>
                    <a href = "mailto:sales@afaaqpro.com">sales@afaaqpro.com </a>
                    
                </div>
                <h3>    العنوان  </h3>
                <div>
                    <p>
                        الرياض _ حي الملقا _ طريق الامام سعود بن فيصل _ مقابل بوليفارد العالمي
                    </p>
                </div>
                <h3>    تابعنا :  </h3>
                <div class="media">
                   <div>
                    <a href="https://twitter.com/Afaaqpro2030">
                        <img  src="../../../../assets/imag/home/contac-us/twitter.png"/>
                    </a>
                       
                   </div>
                   <div>
                    <a href="https://www.instagram.com/afaaqpro2030/">
                        <img  src="../../../../assets/imag/home/contac-us/instagram.png"/>
                    </a>
                   </div>
                   <div>
                    <a href="https://api.whatsapp.com/send?phone=+966509911534">
                        <img  src="../../../../assets/imag/home/contac-us/whatsapp.png"/>
                    </a>
                   </div>
                   <div>
                    <a href="https://www.linkedin.com/company/afaaqpro">
                        <img  src="../../../../assets/imag/home/contac-us/linkedin.png"/>
                    </a>
                   </div>


                </div>

            </div>
   
       
        </div> 
        <div  class="enter-data">
            <div  class="form">
               <form>
                <div  class="names">
                    <div>
                        <label>  الأسم الأول</label>
                        <br>
                        <input type="text"   placeholder=" الأسم الأول*"/>
                    </div>
                    <div>
                        <label>  الأسم الأول</label>
                        <br>
                        <input type="text"   placeholder=" الأسم الأخير*"/>
                    </div>

                </div>
                <div>
                    <label>    رقم التليفون</label>
                    <br>
                    <input type="text"   placeholder="  رقم التليفون*"/>
                </div>
                <div>
                    <label>  البريد الألكنروني </label>
                    <br>
                    <input type="email"   placeholder="  البريد الألكتروني *"/>
                </div>
                <div>
                    <label>    رسالتك </label>
                    <br>
                    <textarea>

                    </textarea>
                </div>
               

                <div class="liseneces">
            
                   
                   <div class="check-box">
                    <mat-checkbox class="custom-checkbox">  </mat-checkbox>
                            <span> Iam not a robot</span>
                          
                 </div>
                        
                 <div  class="image">
                    <div class="background-image"> 
                        <img   src="../../../../assets/imag/home/contac-us/logo_48.png"/>
                    </div>
                   
                    <div class="links">
                        <div class="title"> reCAPTCHA </div>
                        <div class="link" >
                            <a href="https://www.google.com/intl/ar/policies/terms/" target="_blank"> البنود </a>
                            <span> - </span>
                            <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank"> الخصوصية </a>
                  
                        </div>
                       
                    </div>
                </div>

                </div>
            
                <div  class="form-button">
                    <button> 
                        ارسال 
                    </button>

                </div>

              
               </form>
            </div>

        </div>
        
    </div>

</div>
