.contact-us{
    div{
        margin: 0;
        padding: 0;
    }

    width: 100%;
    height: 350px;
    .background-image{
        background-image: url(../../../../../assets/imag/home/contac-us/header.16400cdb2851950a.png);
       height: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       background-size: cover;
      
    }
    .app-contact-us{
        margin-top: -10px;
    }

}