


::ng-deep .owl-next ,::ng-deep .owl-prev{
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
     background-color: #009a97!important;
   
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    padding: 5px !important;
    
}
::ng-deep .owl-next{
    position: absolute;
    top:35%;
    right: 0px;
   
}
::ng-deep .owl-prev{
    position: absolute;
    top:35%;
   
    left: 0px;
}



.mainDiv{
  height: 200px;
  width: 100px;
  .image{
    height: 100%;
    width:100%;
    object-fit: contain;
  }
}
.carsol{
    height: 200px;
}
