


::ng-deep .owl-next ,::ng-deep .owl-prev{
     color: #FFF;
    // font-size: 14px;
    // margin: 5px;
     padding: 4px 7px;
      background-color: #009a97!important;
   
    // width: 30px !important;
    // height: 30px !important;
    border-radius: 50% !important;
    // padding: 5px !important;
    // display: flex;
    // justify-content: center;
   

     
    
}
::ng-deep .owl-next{
    position: absolute;
    top:35%;
    right: 5px;
   
}
::ng-deep .owl-prev{
    position: absolute;
    top:30%;
   
    left: 5px;
}



.mainDiv{
  height: 100px;
  width: 100px;
   
  .image{
    height: 100%;
    width:100%;
    object-fit: contain;
  }
}
.mainDiv:first-child , .mainDiv:last-child{
  margin: 0 50px !important;
}
.carsol{
    height: 200px;
}

  .material-icons{
    font-size: 200px !important;
  }
 