
<div  class="gallary">
    <div  class="header"> 
        <img  src="../../../assets/imag/home/products/logo-title.png"/>
        <h2>   المعرض </h2>
    </div>
        <div  class="gallery-image" >
           <div>
             <img src="../../../assets/imag/home/products/378767b9-f489-4bb1-8f0d-83dc481a79db.png"/>
           </div>
           <div > 
            <img src="../../../assets/imag/home/products/480279d3-3404-4285-8ca5-72f7e18e5041.png"/>
            </div>
            <div >
                <img src="../../../assets/imag/home/products/917f3ff7-8431-42b4-a46a-968489d47979.png"/>
            </div>
            <div >
                <img src="../../../assets/imag/home/products/cbd59723-e88a-47f3-a1ff-0135e5dccb3c.png"/>
            </div>
        </div>
        <div  class="paginator">

            <div  class="forward">
                <mat-icon>arrow_forward</mat-icon>
            </div>

            <div  class="page">
                    1
            </div>
            
            <div class="back">
                <mat-icon>arrow_back</mat-icon>
            </div>
           
        </div>



</div>