
    <div class="news ">
         <div  class="header"> 
            <img  src="../../../assets/imag/home/products/logo-title.png"/>
            <h2>   الأخبار </h2>
        </div>
        <div class="contains">
            <div class="size">
                <div  class="background-image-new">
                    <div class="images">
                        <div  class="imagesnew">
                            <div  class="image">
                                 <img  src="../../../assets/imag/home/news/mcdonald-970-blog .png"/>
                            </div>
                            <div  class="image-title">
                             <h3>
                                أفضل ذكاء
                             أقفال لمنزلك   
                             </h3>
                             <p>
                                امنح قفل الباب حياة جديدة! قفل Keymitt الذكي: امنح قفل الباب حياة جديدة
                             </p>
                             <a href="#">
                                رؤيه المزيد
    
                             </a>
                            </div>
                            <div  class="image" >
                                <img  src="../../../assets/imag/home/news/c842eb95-537a-4829-a9bc-c7024d6d40ad.png"/>
    
                            </div>
                           
    
                        </div>
                        <div  class="imagesnew">
                            <div  class="image-title">
                                <h3>
                                    أفضل ذكاء
                                 أقفال لمنزلك   
                                 </h3>
                                 <p>
                                    امنح قفل الباب حياة جديدة! قفل Keymitt الذكي: امنح قفل الباب حياة جديدة
                                 </p>
                                 <a href="#">
                                    رؤيه المزيد
        
                                 </a>
                               
                           </div>
                           <div class="image">
                            <img  src="../../../assets/imag/home/news/04883b10-7d7f-4dc4-9497-2d2f72d46323.png"/>
                         
                           </div>
                           <div  class="image-title">
                            <h3>
                                أفضل ذكاء
                             أقفال لمنزلك   
                             </h3>
                             <p>
                                امنح قفل الباب حياة جديدة! قفل Keymitt الذكي: امنح قفل الباب حياة جديدة
                             </p>
                             <a href="#">
                                رؤيه المزيد
    
                             </a>
                             
    
                           </div>
    
                        </div>
    
                    </div>
                    
                </div>
                
            </div>
            
    
          
        </div>
    
    </div>

